body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 0 1em 0;
  border: 2px solid skyblue;
  border-radius: 2em;
}

.avatar-container {
  border-right: 2px solid skyblue;
}

.user-card > div > img {
  padding: 0.1rem;
  margin: 0 0.5em 0 0.5em;
  background-color: lightblue;
  border-radius: 50%;
}

p {
  font-size: 1.2rem;
}

.card-top {
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  text-align: center;
  background-color: skyblue;
  padding: 0.2rem 0 0.2rem 0;
  margin: 0 1rem 0 1rem;
  color: white;
}

.home-container {
  max-width: 35rem;
}

.tab-active {
  background-color: skyblue;
  color: white;
  font-weight: bold;
  border-top: 3px solid deepskyblue;
  border-left: 1px solid deepskyblue;
  border-right: 1px solid deepskyblue;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.pointer {
  cursor: pointer;
}

.question-list {
  padding-top: 2rem;
}

.option-card {
  border: 1px solid lightblue;
  border-radius: 3rem;
  padding: 1rem 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  min-width: max-content;
}

.option-active {
  border: 3px solid deepskyblue;
  background-color: skyblue;
  color: white;
  font-weight: bold;
}
